@use "../../../styles/variables" as variable;

.table__col {
  padding: 10px;
  border: 1px solid variable.$td-color;

  @media screen and (max-width: variable.$width-sm) {
    position: relative;
    display: block;
    width: 100%;
    padding: 10px 10px 10px 80px;
    text-align: left;
    border-bottom:none;

    &::before {
      position: absolute;
          top: 10px;
          left: 10px;
          content: attr(aria-label);
          font-weight: bold;
    }
  }
}


.table__row {

  @media screen and (max-width: variable.$width-sm){
    display: block;
    margin-bottom: 1rem;
    border-bottom: 1px solid variable.$td-color;
  }
}

.table__row:nth-child(even){
  background-color: variable.$bg-row-color;
}
