// width
$width-sm: 500px;
$width-md: 768px;
$width-lg: 1024px;
$width-xl: 1280px;

// colors
$white-color: #ffffff;
$red-color: #D90000;
$title-color: #014e85;
$text-color: #031d35;
$label-color: #015878;
$table-color: #01272d;
$td-color: rgba(70, 70, 70, 0.8);
$bg-row-color: rgba(152, 205, 237, 0.3);
$button-bg-color: #98cded;
$btn-reset-color: #0848C0;
$placeholder-color: rgba(70, 70, 70, 0.8);
$success-color:  #037b11;
$border-color: #036e7f;
$shadow-color: #5f5f5f;

//fonts
$primary-text-font: PT_Sans;
$secondary-text-font: Lato;
$title-font: Montserrat;

