@use "../../styles/variables" as variable;

.table {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  background-color: variable.$white-color;
  border: none;
  border-collapse: collapse;

  @media screen and (max-width: variable.$width-sm) {
    border: none;
  }
}

.table__title {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
}



